main .artworks {
    width: 100%;
    overflow: hidden;

    column-count: 2;
    column-gap: 1em;
}

main .artworks .artwork.thumbnail {
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;

    position: relative;
}

main .artworks .artwork.thumbnail img.thumbnail {
    border: solid;
    border-width: 2px;
    border-color: rgba(0,0,0,0)
}

main .artworks .artwork.thumbnail:not(.page) img.thumbnail:hover {
    border-color: #15E87F;
}

main .artworks .artwork.thumbnail.page:hover {
    /* background-color:  #15E87F; */
    border: solid;
    border-width: 2px;
    background-color: #15E87F;
    border-color: #15E87F;
}

main .artworks .artwork.thumbnail.page .title {
    opacity: 0;
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "Space Mono", monospace;
    font-style: italic;
    margin: 0;
    font-size: 1rem;

    /* border: solid;
    border-width: 2px;
    border-color: white;
    padding: 0.125em 0.5em; */
}

main .artworks .artwork.thumbnail.page:hover .title {
    /* height: 100%;
    width: 100%; */
    opacity: 1;


}

/* main .artworks .artwork.thumbnail.page:hover .title::after {
    content: '→';
    font-size: 1.25rem;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.25em;
    margin-bottom: 0.25em;
    font-family: "Source Code Pro", monospace;
} */

main .artworks .artwork.thumbnail .arrow.right {
    display: inline-block;
    width: 1em;
    margin-left: 0.5em;
}

main .artworks .artwork.thumbnail.page:hover img.thumbnail {
    opacity: 0;
}

main .artworks .artwork.thumbnail img.thumbnail {
    width: 100%;
}

main .artworks .artwork.overlay {
    position: fixed;
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;

    left: 0;
    top: 0;
    z-index: 3;
}

main .artworks .artwork.overlay:target {
    width: 100vw;
    height: 100vh;
}

.artworks .artwork.overlay:target .fullsize {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
}


main .artworks .artwork.overlay header {
    height: 0;
    width: 0;
    overflow: hidden;
}

main .artworks .artwork.overlay:target header {
    width: 100%;
    height: 3.5rem;
}

main .artworks .artwork.overlay:target > .title {
    position: absolute;
    left: 0;
    bottom: 0;

    font-family: "Space Mono", monospace;
    margin: 0;
    font-size: 1rem;
}

nav {
    z-index: 4;
}

nav ul {
    margin: 0;

    /* font-family: 'Space Mono', monospace; */
    font-family: 'Compagnon', serif;

    font-size: 1rem;
    /* font-weight: 400; */
    /* line-height: 2.5rem; */
    list-style: none;
    padding: 0;

    margin-bottom: 1rem;s
}

nav ul li a, nav ul li a:visited, a.artwork, a.artwork:visited  {
    text-decoration: none;
    color: #1768EB;
}

nav ul li a {
    /* font-style: italic; */
}

nav ul li a.active, nav ul li a:hover {
    font-weight: bold;
    font-style: normal;
    /* text-decoration: underline; */
}

main section.info {
    font-family: 'Compagnon', serif;
    font-size: 1rem;

    margin-top: 4rem;

    background-color: #f3f3f3;

    padding: 3rem;
    z-index: 2;
    position: relative;
}

/* ------------------------ desktop -------------------------------- */
@media all and (min-width: 100vh) {
    main {
        padding-left: 25vw;
        padding-right: 12.5vw;
    }

    main .artworks .artwork.overlay:target .fullsize {
        margin-left: 12.5vw;
        margin-right: 12.5vw;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 20vw;
    }

    nav, .artworks .artwork.overlay:target > .title {
        padding-left: 1.5rem;
    }

    .artworks .artwork.overlay:target > .title {
        width: 15vw;
    }

    main, .artworks .artwork.overlay:target, .artworks .artwork.overlay:target > .title {
        padding-top: 7rem;
        padding-bottom: 6rem;
    }

     nav {
         margin-top: 7rem;
     }

}

/* ------------------------ mobile -------------------------------- */
@media all and (max-width: 100vh) {

}
